BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 1
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 35
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
IndentCaseLabels: false
AllowShortCaseExpressionOnASingleLine: true
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: true
Cpp11BracedListStyle: false
DerivePointerAlignment: false
